flows/sampleFlow.json
[{"id":"589ef500.a7610c","type":"enocean gw","z":"715ab5b7.8ea54c","name":"GW66","host":"http://172.28.28.51","port":"8080"},{"id":"661e46dd.99e1b8","type":"debug","z":"715ab5b7.8ea54c","name":"","active":true,"console":"false","complete":"true","x":730,"y":480,"wires":[]},{"id":"bf828537.407d78","type":"enocean out","z":"715ab5b7.8ea54c","gw":"589ef500.a7610c","name":"","hasoutput":"self","outputs":1,"x":530,"y":580,"wires":[["4ef13096.b10ed"]]},{"id":"a187e758.5e7818","type":"comment","z":"715ab5b7.8ea54c","name":"Receiving events from API","info":"","x":570,"y":440,"wires":[]},{"id":"d27ce160.2d832","type":"comment","z":"715ab5b7.8ea54c","name":"Sending requests to API ","info":"","x":570,"y":540,"wires":[]},{"id":"99cf7633.663088","type":"inject","z":"715ab5b7.8ea54c","name":"/devices","topic":"","payload":"{  \"ressource\" : \"devices\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":700,"y":840,"wires":[["bf828537.407d78"]]},{"id":"8a68b751.759748","type":"inject","z":"715ab5b7.8ea54c","name":"/devices/0191388F/state (d2-01-09)","topic":"","payload":"{  \"ressource\" : \"states\" , \"items\": [\"0191388F\"], \"state\": {  \"functions\":[ {   \"key\":\"dimValue\",  \"value\":\"0.0\" } ] } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":620,"y":1080,"wires":[["bf828537.407d78"]]},{"id":"19ff229c.e600dd","type":"inject","z":"715ab5b7.8ea54c","name":"/devices/0191388F/profile","topic":"","payload":"{  \"ressource\" : \"profiles\", \"items\": [\"0191388F\"] }","payloadType":"json","repeat":"","crontab":"","once":false,"x":650,"y":920,"wires":[["bf828537.407d78"]]},{"id":"113cd020.eec33","type":"inject","z":"715ab5b7.8ea54c","name":"/devices/0191388F/state","topic":"","payload":"{  \"ressource\" : \"states\" , \"items\": [\"0191388F\"]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":650,"y":960,"wires":[["bf828537.407d78"]]},{"id":"2bc17403.d43e8c","type":"comment","z":"715ab5b7.8ea54c","name":"PUT","info":"","x":550,"y":1040,"wires":[]},{"id":"f215479a.0deab8","type":"comment","z":"715ab5b7.8ea54c","name":"GET","info":"","x":550,"y":760,"wires":[]},{"id":"b7dd7601.482288","type":"inject","z":"715ab5b7.8ea54c","name":"/devices/states","topic":"","payload":"{  \"ressource\" : \"devices/states\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":680,"y":1000,"wires":[["bf828537.407d78"]]},{"id":"ee58d0aa.11a73","type":"inject","z":"715ab5b7.8ea54c","name":"/profiles","topic":"","payload":"{  \"ressource\" : \"profiles\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":700,"y":800,"wires":[["bf828537.407d78"]]},{"id":"1ac800ac.e537ff","type":"inject","z":"715ab5b7.8ea54c","name":"/devices/0191388F","topic":"","payload":"{  \"ressource\" : \"devices\" , \"items\": [\"0191388F\"]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":670,"y":880,"wires":[["bf828537.407d78"]]},{"id":"62b4126c.9d4bec","type":"enocean in","z":"715ab5b7.8ea54c","gw":"589ef500.a7610c","name":"enocean in","direction":"both","statesflag":false,"devices":"target","x":520,"y":480,"wires":[["661e46dd.99e1b8"]]},{"id":"4ef13096.b10ed","type":"debug","z":"715ab5b7.8ea54c","name":"","active":true,"console":"false","complete":"payload","x":750,"y":580,"wires":[]}]